.container{
	width:70%;
	margin:auto;
	padding:20px;
}
.msg{
	color:#bd822a;
}
.fr{
	float:right;
}
.letter{
	width: 200px;
	height: 200px;
	background-color:red;
	margin:auto;
	border-radius:50%;
	text-align:center;
	font-size:140px;
	color:yellow;
}

.keyboard span{
	display:inline-block;
	background-color:#bd822a;
	color:#bd822a;
	padding:10px;
	width: 20px;
	height: 20px;
	margin-left: 20px;
}

.keyboard div{
	margin-top: 20px;
	text-align:center;
}

a{
	text-decoration:none;
	padding:10px 20px;
	background-color:#bd822a;
	color:#fff;
}

.op{
	text-align:center;
	margin-top: 40px;
}